<br />
<h1 class="text-center">We've much to do! Lets see you in major version!<span class="lblue"> AngularBaby</span></h1>
<br />

<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- Starts -->
  <h2><router-outlet></router-outlet></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="ui-44">
        <!-- Ui circle -->
        <div class="ui-circle bg-red">
          <span class="ui-quote">&#8220;</span>

        </div><!-- /Circle -->
      </div>
    </div><!-- Ends -->
    <div class="col-md-6">
      <div class="ui-44">
        <!-- Ui -circle -->
        <div class="ui-circle bg-blue">
          <span class="ui-quote">&#8220;</span>
          <!-- Carousel -->

        </div>
      </div>
    </div>

  </div>



</div><!-- /Container -->






