<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!-- Starts -->
  <div class="row">
    <div class="col-md-6">
      <div class="ui-44">
        <!-- Ui circle -->
        <div class="ui-circle bg-red">
          <span class="ui-quote">&#8220;</span>
          <!-- Carousel -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <!-- Paragraph -->
                <p>&#8220; It is a long fact that<br> reader will distracted <br>readable content <br>reader will distracted &#8220;.</p>
                <div class="ui-foot">
                  <!-- Image -->
                  <img src="img/user/2.jpg" alt="" class="img-responsive img-circle" />
                  <!-- Name -->
                  <h6>Ricky Pointing</h6>
                </div>
              </div>
              <div class="item">
                <p>&#8220; It is a long fact that<br>reader will distracted <br>readable content <br> reader will distracted &#8220;.</p>
                <div class="ui-foot">
                  <img src="img/user/6.jpg" alt="" class="img-responsive img-circle" />
                  <h6>Jacob Oram</h6>
                </div>
              </div>
              <div class="item">
                <p>&#8220; It is a long fact that<br>reader will distracted <br>readable content<br> reader will distracted &#8220;.</p>
                <div class="ui-foot">
                  <img src="img/user/5.jpg" alt="" class="img-responsive img-circle" />
                  <h6>Grame Smith</h6>
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div><!-- /Carousel -->
        </div><!-- /Circle -->
      </div>
    </div><!-- Ends -->
    <div class="col-md-6">
      <div class="ui-44">
        <!-- Ui -circle -->
        <div class="ui-circle bg-blue">
          <span class="ui-quote">&#8220;</span>
          <!-- Carousel -->
          <div id="carousel-example-generic-one" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <!-- Paragraph -->
                <p>&#8220; It is a long fact that<br>reader will distracted <br>readable content<br> reader will distracted &#8220;.</p>
                <div class="ui-foot">
                  <!-- Image -->
                  <div class="ui-image">
                    <img src="img/user/6.jpg" alt="" class="img-responsive img-circle" />
                  </div>
                  <!-- Name -->
                  <div class="ui-name">
                    <h6>AB Deviliers</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <p>&#8220; It is a long fact that<br> reader will distracted <br>readable content<br>reader will distracted &#8220;.</p>
                <div class="ui-foot">
                  <div class="ui-image">
                    <img src="img/user/2.jpg" alt="" class="img-responsive img-circle" />
                  </div>
                  <div class="ui-name">
                    <h6>Mark Bravo</h6>
                  </div>
                </div>
              </div>
              <div class="item">
                <p>&#8220; It is a long fact that<br> reader will distracted <br>readable content<br>reader will distracted &#8220;.</p>
                <div class="ui-foot">
                  <div class="ui-image">
                    <img src="img/user/1.jpg" alt="" class="img-responsive img-circle" />
                  </div>
                  <div class="ui-name">
                    <h6>Treskothik</h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic-one" role="button" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic-one" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /Container -->



<h2>We've much to do! Lets see you in major version!</h2>

<router-outlet></router-outlet>
